*, *:before, *:after{
  box-sizing: border-box;
}
body, html{
  width: 100%;
  height: 100%;
  margin: 0;
}
@font-face {
  font-family: 'Proxima-reg';
  src: url(../fonts/Proxima_Nova_Alt_Reg.otf);
}
@font-face {
  font-family: 'Proxima-bold';
  src: url(../fonts/Proxima_Nova_Alt_Bold.otf);
}
@font-face {
  font-family: 'Proxima-extra-bold';
  src: url(../fonts/Proxima_Nova_Alt_Black.otf);
}
@font-face {
  font-family: 'Proxima-light';
  src: url(../fonts/Proxima_Nova_Alt_Light.otf);
}
body{
  background: #515659;
  font-family: 'Proxima-reg', serif;
  line-height: 1.4em;
  color: #1e2747;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: -0.5px;
  word-spacing: 2px;
}
.wrap{
  margin: 30px auto;
  width: 1190px;
  height: 1684px;
  box-shadow: 0 0 5px 0px;
  background: white;
}
.page{
  height: 100%;
  width: 100%;
  background-image: url(../img/bg-a.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: auto;
  padding: 40px 46px;
}
.header{
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}
.header-logo{
  margin-right: 23px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.header-info{
  border-left: 4px solid #d9d7d5;
  padding-left: 14px;
  color: #1e2747;
}
.header-text-big, .header-text-small{
  margin: 12px 0;
}
.header-text-bigger{
  font-size: 20px;
  font-weight: 900;
  font-family: 'Proxima-extra-bold';
}
.header-text-bolder{
  font-weight: 900;
  font-family: 'Proxima-extra-bold';
}
.text-bold{
  font-family: 'Proxima-bold';
}
.text-extra-bold{
  font-family: 'Proxima-extra-bold';
  font-size: 20px;
}
.text-light{
  font-family: 'Proxima-light';
}
.main{
  border: 2px solid #1e2747;
  padding: 5px 0;
  height: 1450px;
}
.main-7-1{
  line-height: 1.4em;
}
.main .line-grey{
  margin-bottom: 4px;
}
.main .line-section-title{
  margin-bottom: 0;
}
.underline{
  margin-left: 5px;
  height: 1rem;
  border-bottom: 1px solid black;
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: block;
}
.u-1200{
  width: 1100px;
  margin-bottom: 5px;
}
.u-960{
  width: 960px;
}
.u-930{
  width: 930px;
}
.u-900{
  width: 900px;
}
.u-850{
  width: 850px;
}
.u-830{
  width: 830px;
}
.u-725{
  width: 725px;
}
.u-690{
  width: 690px;
}
.u-500{
  width: 500px;
}
.u-450{
  width: 450px;
}
.u-440{
  width: 440px;
}
.u-400{
  width: 400px;
}
.u-350{
  width: 350px;
}
.u-340{
  width: 340px;
}
.u-310{
  width: 310px;
}
.u-300{
  width: 300px;
}
.u-290{
  width: 290px;
}
.u-280{
  width: 280px;
}
.u-270{
  width: 270px;
}
.u-260{
  width: 260px;
}
.u-250{
  width: 250px;
}
.u-225{
  width: 225px;
}
.u-200{
  width: 200px;
}
.u-175{
  width: 175px;
}
.u-165{
  width: 165px;
}
.u-150{
  width: 150px;
}
.u-100{
  width: 100px;
}
.u-50{
  width: 50px;
}
.u-40{
  width: 40px;
}
.main-second, .main-third{
  border-right: 2px solid #1e2747;
  border-left: 2px solid #1e2747;
  border-bottom: 2px solid #1e2747;
  line-height: 1.5em;
  padding-bottom: 5px;
  margin-top: 10px;
  height: 1588px;
}
.main-four{
  margin-top: 10px;
  border-right: 2px solid #1e2747;
  border-left: 2px solid #1e2747;
  border-bottom: 2px solid #1e2747;
  height: 1588px;
}
.main-six{
  margin-top: 10px;
  border-right: 2px solid #1e2747;
  border-left: 2px solid #1e2747;
  border-bottom: 2px solid #1e2747;
  height: 1588px;
  line-height: 1.5em;
}
.main-four .line-grey{
  margin-bottom: 4.5px;
}
.main-second .line-grey{
  margin-bottom: 9px;
}
.main-third .line-grey{
  margin-bottom: 6px;
}
.line-regular{
  padding: 2px 5px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
}
.checkbox{
  margin-left: 40px;
}
.checkbox-long{
  margin-left: 110px;
}
.checkbox-double{
  margin-left: 80px;
}
.absolute-text{
  position: relative;
}
.dd:after{
  content: "dd";
}
.mm:after{
  content: "mm";
}
.aa:after{
  content: "aaaa";
}
.absolute-text:after{
  position: absolute;
  font-size: 10px;
  font-weight: 300;
  font-family: 'Proxima-light';
  top: 14px;
  left: 50%;
  transform: translate(-50%, 0);
}
.line-title{
  padding: 2px 5px;
  background: #1e2747;
  color: white;
  font-weight: bold;
  font-family: 'Proxima-bold';
}
.margin-left-10{
  margin-left: 10px;
}
.margin-left-15{
  margin-left: 15px;
}
.margin-left-20{
  margin-left: 20px;
}
.margin-left-30{
  margin-left: 30px;
}
.margin-left-50{
  margin-left: 50px;
}
.margin-left-63{
  margin-left: 63px;
}
.margin-left-90{
  margin-left: 90px;
}
.margin-left-130{
  margin-left: 133px;
}
.margin-left-217{
  margin-left: 217px;
}
.margin-right-33{
  margin-right: 33px;
}
.margin-right-77{
  margin-right: 77px;
}
.line-table{
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.line-table-item{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  width: 33.34%
}
.line-table-cell{
  border-bottom: 2px solid #1e2747;
  width: 100%;
  height: 33px;
}
.line-table-center{
  border-right: 2px solid #1e2747;
  border-left: 2px solid #1e2747;
}
.font-size-14{
  font-size: 14px;
}
.line-grey{
  display: -ms-flexbox;
  display: flex;
  padding: 2px 5px;
  border-top: 1px solid #1e2747;
  border-bottom: 1px solid #1e2747;
  font-weight: 500;
  letter-spacing: -0.5px;
  font-family: 'Proxima-bold';
  color: #1e2747;
  background: #eceae9;
}
.line-grey-bigger{
  padding: 10px 5px;
}
.line-regular-bigger{
  padding: 10px 5px;
}
.line-section{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  -ms-flex-align: end;
      align-items: flex-end;
  padding-bottom: 10px;
}
.line-section-title{
  margin-bottom: 10px;
}
.line-section-line{
  width: 100%;
  border-bottom: 1px solid black;
  height: 25px;
}
.align-self-left{
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.line-section-item{
  width: 31.5%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
}
.page-number{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  margin-right: -46px;
}
.page-number-item{
  margin-top: 7px;
  padding: 5px 78px 5px 5px;
  background-color: #1e2747;
  color: white;
}
.page-number-odd{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-left: -46px;
}
.page-number-item-odd{
  margin-top: 7px;
  padding: 5px 5px 5px 78px;
  background-color: #1e2747;
  color: white;
}
.page-version{
  font-size: 14px;
}
.line-checkbox-4{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
  padding-left: 10px;
}
.line-checkbox-5{
  padding-left: 10px;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: start;
      justify-content: flex-start;
  display: -ms-flexbox;
  display: flex;
  border-top: 2px solid #1e2747;
}
.line-checkbox-item-36{
  width: 36%;
}
.line-checkbox-30-item{
  width: 30%;
}
.line-checkbox-28-item{
  width: 28%;
}
.line-checkbox-26-item{
  width: 26%;
}
.line-checkbox-22-item{
  width: 22%;
}
.line-checkbox-20-item{
  width: 20%;
}
.line-checkbox-column-15{
  width: 15%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-align: center;
}
.line-checkbox-custom-column{
  text-align: right;
}
.huge-text{
  padding: 7px;
  line-height: normal;
  text-align: justify;
}
.line-2-blocks{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  border-bottom: 2px solid #1e2742;
  border-top: 2px solid #1e2742;
}
.line-block-left{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  width: 50%;
  border-right: 1px solid #1e2742;
}
.line-block-right{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  width: 50%;
  border-left: 1px solid #1e2742;
}
.line-block-50{
  width: 50%;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: start;
      justify-content: flex-start;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.align-self-center{
  -ms-flex-item-align: center;
      align-self: center;
}
.margin-top-900{
  margin-top: 900px;
}
.margin-top-450{
  margin-top: 450px;
}
.margin-top-330{
  margin-top: 400px;
}
.margin-top-160{
  margin-top: 160px;
}
.margin-top-120{
  margin-top: 120px;
}
.margin-top-60{
  margin-top: 60px;
}
.margin-top-40{
  margin-top: 40px;
}
.margin-top-8{
  margin-top: 8px;
}
.margin-top-5{
  margin-top: 5px;
}
.line-empty{
  height: 33px;
  border-bottom: 2px solid #1e2742;
}
.line-height-1v1{
  line-height: 1.1em;
}
.line-height-normal{
  line-height: normal;
}
.line-custom-5{
  padding-top: 5px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: start;
      align-items: flex-start;
  margin-bottom: 5px;
}
.custom-column-1{
  padding-top: 19px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: end;
      justify-content: flex-end;
  -ms-flex-align: center;
      align-items: center;
}
.custom-column-2{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: start;
      justify-content: flex-start;
}
.w-10{
  width: 10%;
}
.w-30{
  width: 30%;
}
.w-25{
  width: 25%;
}
.line-custom-5 .underline{
  height: 17px;
}
.line-bigger{
  padding: 10px 5px;
}
@media print{
  body{
    background: 0;
  }
  .wrap{
    margin: 0 auto;
    height: 1680px;
  }
}
