*, *:before, *:after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.wrap{
  height: 100%;
  width: 100%;
}
.header{
  width: 100%;
  height: 85px;
  background-color: #00325a;
  padding-top: 30px;
  padding-bottom: 30px;
}
.header-inner{
  width: 100%;
  margin: 0 auto;
}
.header-logo img{
  max-width: 120px;
  display: inline;
  vertical-align: middle;
  height: auto;
  width: auto;
  max-height: 100%;
  outline: 0;
  margin-left: 60%;
}
.header-nav{
  display: inline-block;
  float: right;
}
.header-nav li{
  display: inline;
  color: white;
  padding: 0 4px;
  text-decoration: none;
}
.header-nav a{
  text-decoration: none;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.header-nav span{
  display: inline-block;
  line-height: 1;
  padding: 0.5em 11px;
  border-radius: 3px;
}
.header-nav span:hover{
  transition: 0.15s ease-in-out;
  background-color: #22a5e1;
  cursor: pointer;
  text-decoration: underline;
}
.banner{
  width: 100%;
  height: 100%;
  height: auto;
  background-image: url(img/bannerbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-bottom: 25px;
  background-color: #071f2e;
}
.banner-logo{
  width: 70%;
  display: block;
  margin: 0 auto;
}
.banner-logo img{
  display: block;
  margin: 0 auto;
  width: 100%;
}
.banner-title h1{
  text-align: center;
  width: 90%;
  margin: 0 auto;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 35px;
}
.joinus{
  width: 100%;
  height: 180px;
  background-color: #00213b;
}
.joinus-inner{
  width: 90%;
  height: 100%;
  margin: 0 auto;
}
.joinus-left, .joinus-right{
  width: 100%;
  margin: 0 auto;
  height: 50%;
  padding: 30px 0 0;
}
.joinus-right{
  padding-top: 15px;
}
.telegram-but{
  display: block;
  width: 80%;
  margin: 0 auto;
  background-color: #dd5713;
  border: 0px;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: white;
  text-align: center;
}
.telegram-but:hover, .whitelist button:hover{
  background: #fa7d49;
  cursor: pointer;
  transition: 0.25s ease-in-out;
}
.whitelist input{
  display: block;
  height: 45px;
  margin: 0 auto;
  width: 100%;
  border: 0px;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  padding-left: 15px;
}
.whitelist button{
  display: block;
  bottom: 5%;
  left: 55%;
  width: 110px;
  color: white;
  border: 0px;
  border-radius: 3px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background: #dd5713;
  height: 30px;
  padding: 0 15px;
  line-height: 30px;
  float: left;
  margin-top: -37px;
  margin-left: 65%;
}
.graph{
  width: 100%;
}
.graph-inner{
  width: 90%;
  margin: 0 auto;
  padding-bottom: 40px;
}
.graph-inner h2{
  color: #f15a29;
  text-align: center;
  padding: 35px 0;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 36px;
}
.graph-inner p{
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 25px;
  font-weight:600;
  color: #161616;
}
.graph-inner img{
  width: 100%;
  display: block;
}
.problem-set{
  width: 100%;
  height: auto;
  background-color: #f9f9f9;
}
.problem-set-inner{
  width: 90%;
  margin: 0 auto;
  height: auto;
}
.problem-set-inner h2{
  color: #f15a29;
  text-align: center;
  padding: 35px 0;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 36px;
}
.problem-set-block{
  float: none;
  display: block;
  width: 100%;
  height: 280px;
  margin-bottom: 20px;
}
.problem-set-picture{
  display: block;
  width: 60%;
  margin: 0 auto;
}
.problem-set-text{
  text-align: center;
  margin-top: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  line-height: 21px;
  color: #3c3e44;
}
.problem-solving{
  width: 100%;
  padding-bottom: 30px;
}
.problem-solving h2{
  color: #f15a29;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding: 35px 0 0 0;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
}
.problem-solving span{
  display: block;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: #3c3e44;
  font-size: 25px;
  line-height: 32px;
  width: 90%;
  margin: 0 auto;
}
.nuvus-protocol{
  width: 100%;
  height: 740px;
  background-color: #e7e8ea;
  padding: 40px 0;
}
.nuvus-protocol-image{
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.nuvus-protocol-image img{
  display: block;
  width: 100%;
  height: auto;
}
.nuvus-protocol-text{
  width: 90%;
  margin: 0 auto;
  float: none;
  padding-left: 0;
  padding-top: 20px;
}
.nuvus-protocol-text p{
  color: #161616;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 33px;
  margin-bottom: 20px;
}
.advantages{
  background-color: #62656f;
  width: 100%;
  height: 700px;
}
.block-wrap{
  width: 90%;
  margin: 0 auto;
  padding: 25px 0;
}
.block1{
  width: 100%;
  height: auto;
  margin: 0 auto;
  border-left: 5px solid #f15a29;
  padding-left: 10px;
}
.block2, .block3, .block4{
  width: 100%;
  height: auto;
  margin-top: 25px;
  border-left: 5px solid #f15a29;
  padding: 0 10px;
}
.block-wrap h3{
  color: white;
  font-size: 25px;
  line-height: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 1px;
}
.block-wrap p{
  font-size: 15px;
  color: white;
  line-height: 20px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0;
  font-style: italic;
}
.cognetix-article h2{
  color: #f15a29;
  text-align: center;
  padding: 45px 0;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 36px;
}
.cognetix-description{
  background-color: #e7e8ea;
  width: 100%;
  height: auto;
}
.cognetix-description p{
  width: 90%;
  height: auto;
  margin: 0 auto;
  padding: 25px 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 33px;
}
.cognetix-goals{
  height: auto;
  width: 100%;
  background-color: #62656f;
  background-image: url(img/goalsbg.jpg);
  background-size: auto 480px;
  background-position: center center;
  background-repeat: no-repeat;
  padding-bottom: 50px;
}
.cognetix-goal-inner{
  width: 90%;
  margin: 0 auto;
  padding-top: 50px;
  height: auto;
}
.cognetix-goal-blocks{
  float: none;
  background-color: white;
  width: 100%;
  height: 350px;
  border: 5px solid #f15a29;
  padding: 0 10px;
  margin-top: 30px;
}
.cognetix-goal-blocks h3{
  color: #f15a29;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  margin: 20px 0;
}
.cognetix-goal-blocks p{
  color: #161616;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
}
.cognetix-features{
  width: 100%;
  height: auto;
}
.cognetix-features-inner{
  width: 90%;
  height: auto;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 20px;
}
.cognetix-features-left, .cognetix-features-right{
  width: 100%;
  float: none;
  height: auto;
}
.cognetix-features-inner h4{
  color: #f15a29;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  line-height: 32px;
  font-weight: 500;
  text-align: center;
  margin: 20px 0;
  font-style: italic;
}
.cognetix-features-left img{
  width: 100%;
  display: block;
  padding: 20px 0;
}
.cognetix-features-right img{
  width: 70%;
  display: block;
  padding: 20px 0;
}
.cognetix-features-inner h2{
  color: #f15a29;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  text-transform: uppercase;
  padding: 20px 0;
}
.nuvus-flowchart{
  width: 100%;
  background-color: #e5e5e6;
  height: auto;
  padding-bottom: 30px;
}
.nuvus-flowchart img{
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.nuvus-advantages{
  width: 100%;
}
.nuvus-advantages-article h2{
  color: #f15a29;
  text-align: center;
  padding: 45px 0;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 36px;
}
.nuvus-advantages-list{
  width: 80%;
  margin: 0 auto;
  height: auto;
  display: block;
  position: relative;
}
.nuvus-advantages-list::after{ /* adding the opacity to bg image */
  content: "";
  background-image: url(img/worldbg.png);
  background-repeat: repeat-y;
  background-size: contain;
  background-position: center center;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.nuvus-advantages-block{
  width: 100%;
  height: 280px;
  float: none;
}
.nuvus-advantages-block img{
  display: block;
  width: 50%;
  margin: 0 auto;
}
.nuvus-advantages-block p{
  text-align: center;
  width: 90%;
  margin: 30px auto 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  color: #3c3e44;
}
.token{
  width: 100%;
  height: auto;
}
.token h2, .token-why h3{
  color: #f15a29;
  text-align: center;
  padding: 32px 0;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 36px;
}
.token-inner{
  width: 90%;
  margin: 0 auto;
  height: auto;
}
.token-inner img{
  display: block;
  width: 100%;
  height: 600px;
  float: none;
}
.token-description{
  width: 100%;
  float: none;
  height: auto;
  margin-top: 20px;
}
.token-description p{
 font-family: 'Open Sans', sans-serif;
 font-size: 16px;
 font-weight: 600;
 width: 90%;
 margin: 0 auto;
}
.token-why{
  background: #fff;
  width: 100%;
  height: auto;
  float: none;
}
.token-why-inner{
  width: 100%;
  margin: 0 auto;
  height: auto;
}
.token-why h3{
  padding: 20px 0;
  text-align: center;
}
.token-why-inner span{
  display: block;
  width: 100%;
  height: auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 27px;
  font-weight: 400;
}
.token-economy{
  width: 100%;
  margin-top: 20px;
  height: auto;
}
.token-economy h2{
  color: #f15a29;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 36px;
}
.token-economy p{
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: 600;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 20px;
}
.token-workflow{
  width: 100%;
  background: #e5e5e6;
  padding-top: 20px;
}
.token-workflow h3{
  padding: 0;
  text-align: center;
  font-size: 30px;
}
.token-workflow-article-one{
  text-transform: uppercase;
  margin: 0;
}
.token-workflow-inner{
  width: 90%;
  margin: 0 auto;
}
.token-workflow img{
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
}
.token-workflow-article-two{
  margin: 0;
}
.token-sale{
  width: 100%;
  height: auto;
}
.token-sale h2{
  color: #f15a29;
  text-align: center;
  padding: 45px 0;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 36px;
}
.token-sale-table{
  width: 100%;
  height: auto;
  padding-bottom: 30px;
  position: relative;
  background-color: #62656f;
  z-index: -2;
}
.token-sale-table::after{ /* adding opacity to bg image*/
  content: "";
  background-image: url(img/tokensalebg-min.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.token-sale-table-inner{
  width: 90%;
  height: auto;
  margin: 0 auto;
  padding-top: 50px;
}
.token-sale-table-bigblock{
  height: 75px;
  width: 100%;
  margin-bottom: 7px;
  clear: both;
}
.token-sale-leftblock{
  width: 40%;
  height: 100%;
  background: #e5e5e6;
  border: 0;
  border-radius: 5px;
  box-shadow: 6px 3px 2px 2px rgba(0,0,0,0.3);
  padding-left: 15px;
  float: left;
  margin-bottom: 7px;
  display: flex;
  align-items: center;
}
.token-sale-leftblock span{
  line-height: 25px;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
}
.token-sale-rightblock{
  width: 55%;
  height: 100%;
  background: #f7f7f7;
  border: 0;
  border-radius: 5px;
  box-shadow: 6px 3px 2px 2px rgba(0,0,0,0.3);
  padding-left: 15px;
  float: left;
  margin-left: 5%;
  margin-bottom: 7px;
  display: flex;
  align-items: center;
}
.token-sale-rightblock span{
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}
.token-presale{
  width: 100%;
  background: #e5e5e6;
  padding-bottom: 10px;
}
.token-presale-inner{
  width: 90%;
  margin: 0 auto;
}
.token-presale-inner h3, .token-presale-inner h4{
  color: #f15a29;
  text-align: center;
  line-height: 40px;
  padding-top: 30px;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 25px;
}
.token-presale-inner h4{
  padding: 5px 0;
  color: #3c3e44;
}
.token-presale-inner table{
  border-collapse: collapse;
  vertical-align: middle;
  text-align: center;
  width: 100%;
}
.token-presale-inner td{
  border: 1px solid black;
  padding-left: 10px;
  line-height: 30px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.first-column{
  width: 30%;
  background: #ffffff;
}
.second-column{
  width: 30%;
}
.third-column{
  width: 40%;
}
.token-presale-note{
  line-height: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: italic;
  color: #3c3e44;
}
.token-diagram-article{
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  height: auto;
}
.token-diagram-article h2{
  color: #f15a29;
  width: 100%;
  float: none;
  padding-top: 30px;
  padding-bottom: 0;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}
.token-diagram{
  width: 100%;
  height: auto;
  background-color: #e7e8e9;
}
.token-diagram img{
  display: block;
  width: 90%;
  margin: 0 auto;
}
.token-diagram img:nth-child(2){
  margin-left: 5%;
}
.future-roadmap{
  width: 100%;
  height: auto;
}
.future-roadmap h2{
  color: #f15a29;
  padding: 45px 0;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}
.future-roadmap img{
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.team{
  width: 100%;
}
.team h2{
  color: #f15a29;
  padding: 45px 0;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}
.team-inner{
  width: 90%;
  margin: 0 auto;
}
.team-member{
  width: 100%;
  float: none;
  margin-left: 0%;
  padding: 5px;
  height: auto;
}
.team-member:nth-child(1), .team-member:nth-child(4){
  margin: 0;
}
.team-member:nth-child(7){
  float: none;
  clear: both;
  margin: 0 auto;
}
.team-member img{
  display: block;
  margin: 0 auto;
  width: 80%;
}
.team-member-name, .advisor-name{
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 21px;
  color: #3c3e44;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}
.team-member-description, .advisor-description{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #161616;
}
.fa-linkedin-square{
  color: #e8e8e8;
}
.fa-linkedin-square:hover{
  cursor: pointer;
  color: #007de8;
  transition: 0.15s ease-in-out;
}
.advisor{
  width: 100%;
  height: auto;
}
.advisor h2{
  color: #f15a29;
  padding: 45px 0;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}
.advisor-inner{
  width: 90%;
  margin: 0 auto;
}
.advisor-member{
  width: 100%;
  float: none;
  margin-left: 0%;
  padding: 5px;
  height: auto;
}
.advisor-member:nth-child(1), .advisor-member:nth-child(5){
  margin: 0;
}
.advisor-member:nth-child(5){
  margin-left: 0%;
}
.contacts{
  width: 100%;
  background-color: #f9f9f9;
  height: auto;
  padding-bottom: 30px;
}
.contacts-inner{
  width: 90%;
  margin: 0 auto;
}
.contacts h2{
  color: #f15a29;
  padding: 45px 0;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}
.contacts-form{
  width: 100%;
  float: none;
}
.contacts-form p{
  display: block;
  width: 300px;
  font-size: 16px;
  line-height: 26px;
  color: #161616;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
}
.contacts-form input{
  margin: 10px auto 15px;
  width: 300px;
  height: 40px;
  display: block;
  font-size: 16px;
  line-height: 26px;
  color: #161616;
  font-family: 'Open Sans', sans-serif;
}
.contacts-form textarea{
  display: block;
  margin: 10px auto 0;
  height: 200px;
  width: 300px;
  font-size: 16px;
  line-height: 26px;
  color: #161616;
  font-family: 'Open Sans', sans-serif;
}
.contacts-form-button{
  margin: 10px auto;
  display: block;
  height: 50px;
  width: 70%;
  border-radius: 5px;
  background-color: #f15a29;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 50px;
  letter-spacing: 1px;
  text-align: center;
}
.contacts-form-button:hover{
  background: #fa7d49;
  cursor: pointer;
  transition: 0.15s ease-in-out;
}
.contacts-social-links{
  margin-top: 50px;
  width: 100%;
  float: none;
}
.contacts-social-links p{
  width: 200px;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #3c3e44;
  line-height: 22px;
  font-weight: 600;
}
.contacts-social-links i{
  width: 30%;
  height: 50px;
  display: block;
  float: left;
  margin-top: 20px;
  margin-right: 3%;
  text-align: center;
}
.fa-github{
  color: #888;
}
.fa-facebook{
  color: #888;
}
.fa-twitter{
  color: #888;
}
.contacts-awesome-icons{
  width: 50%;
  margin: 0 auto;
}
.contacts-social-links i:hover{
  cursor: pointer;
  color: #007de8;
  transition: 0.15s ease-in-out;
}
.contacts-join-button{
  height: 50px;
  display: block;
  width: 70%;
  border-radius: 3px;
  background-color: #f15a29;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 50px;
  letter-spacing: 1px;
  margin: 80px auto 0;
  text-align: center;
}
.contacts-social-links a{
  text-decoration: none;
}
.contacts-join-button span{
  text-transform: uppercase;
}
.contacts-join-button:hover{
  background: #fa7d49;
  cursor: pointer;
  transition: 0.15s ease-in-out;
}
.technologies{
  width: 100%;
  height: auto  ;
}
.technologies-inner{
  width: 90%;
  margin: 0 auto;
}
.technologies-image1{
  display: block;
  width: 100%;
  float: none;
}
.technologies-image2{
  display: block;
  margin-top: 15px;
  width: 100%;
  float: none;
  margin-left: 0%;
}
.technologies-image3{
  display: block;
  width: 100%;
  float: none;
  margin-left: 5%;
  margin-top: 15px;
}
footer{
  background: #00182c;
  width: 100%;
  height: auto;
  color: white;
  padding-bottom: 30px;
}
.footer-inner{
  width: 90%;
  margin: 0 auto;
  padding-top: 5px;
}
.footer-inner p{
  font-family: 'Roboto', sans-serif;
  width: 100%;
  float: none;
  text-align: center;
  margin-top: 20px;
  font-size: 19px;
  line-height: 34px;
}
.footer-waitlist-button{
  float: none;
  background: #00325a;
  width: 250px;
  height: 75px;
  margin: 37px auto 0;
  text-align: center;
  line-height: 75px;
  font-size: 19px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  border-radius: 5px;
}
.footer-waitlist-button:hover{
  background: #22a5e1;
  cursor: pointer;
  transition: 0.15s ease-in-out;
}
.footer-inner a{
  text-decoration: none;
  color: white;
}
/*Hamburger menu part*/
.header-nav{
  display: none;
  visibility: hidden;
}
.navigation{
  visibility: visible;
  display: block;
}
#menu li a{
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}
#menuToggle a:hover{
  color: tomato;
}
#menuToggle{
  display: block;
  position: relative;
  top: -20px;
  left: 0;
  width: auto;
  margin-left: 5%;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle input{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}
#menuToggle span{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child{
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2){
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}
#menuToggle input:checked ~ span:nth-last-child(3){
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2){
  transform: rotate(-45deg) translate(0, -1px);
}
#menu{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -5%;
  padding: 50px;
  padding-top: 125px;
  background: #00325a;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#menu li{
  padding: 10px 0;
  font-size: 22px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  border-top: 1px solid white;
}
#menuToggle input:checked ~ ul{
  transform: none;
}
