*, *:before, *:after{
  box-sizing: border-box;
}
.wrap{
  width: 70%;
  margin: 0 auto;
  min-width: 600px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
h1{
  text-align: center;
}
.text-block{
  text-align: justify;
}
ul{
  list-style-type: disc;
}
li{
  margin-top: 8px;
}
ul li:first-child{
  margin-top: 15px;
}
.bluecolor{
  color: #699ecb;
  font-weight: bold;
}
.redcolor{
  color: red;
}
