*:, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  box-sizing: border-box;
  width: 100%;
}

.wrap {
  width: 100%;
  margin: 500px auto 0;
  position: relative;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 400px;
  background: #f1f4f4;
}

.button__wrap{
  width: 100%;
  background: #465058;
  display: flex;
  justify-content: center;
}

.button {
  margin-top: 10px;
  margin-bottom: 100px;
  cursor: pointer;
}

.planes{
  position: relative;
  background: #465058;
  padding-top: 20px;
  width: 100%;
  padding-bottom: 150px;
}

.plane1__group {
  width: 100%;
}

.wrap .planes__header {
  margin: 0;
  color: #B5E0E3;
  font-size: 20px;
  text-transform: uppercase;
  margin-left: 10%;
  padding-top: 20px;
  opacity: 0;
  transform: translate(0, 50px);
  transition: 1s ease;
}

.wrap .planes__text {
  margin: 0;
  color: white;
  font-size: 30px;
  margin-left: 10%;
  opacity: 0;
  transform: translate(0, 50px);
  transition: 1s ease;
}

.red__plane__group {
  position: relative;
  width: 100%;
  top: 30px;
}

.another__path {
  position: absolute;
  top: 0;
  z-index: 0;
}

.redPlane {
  position: absolute;
  z-index: 1;
  top: -55px;
  left: -100px;
  opacity: 0;
}

.redPath {
  width: 100%;
  margin: 0 auto;
  display: block;
  position: absolute;
  top: 0;
}

.path {
}


.another__path {
  width: 100%;
  height: auto;
}

.path1 {
  position: absolute;
  top: 2px;
  width: 80%;
  height: auto;
}
.plane1 {
  position: absolute;
  top: -30px;
  left: -30px;
}

.plane {
  width: 60px;
  opacity: 0;
}

.path2 {
  position: absolute;
  top: 42px;
  left: 0px;
  width: 85%;
  height: auto;
}
.plane2 {
  position: absolute;
  top: 10px;
  left: -30px;
}

.path3 {
  position: absolute;
  top: 20px;
  left: 50px;
  width: 70%;
  height: auto;
}
.plane3 {
  position: absolute;
  top: -11px;
  left: 15px;

}

.path4 {
  position: absolute;
  top: 20px;
  left: 0px;
  width: 85%;
  height: auto;
}
.plane4 {
  position: absolute;
  left: -32px;
  top: -12px;
}

.path5 {
  position: absolute;
  top: 40px;
  left: 0px;
  width: 90%;
  height: auto;
}
.plane5 {
  position: absolute;
  top: 8px;
  left: -32px;
}

.animate {
  animation: white-plane 2.1s ease;
}
.offsetDistance1 {
  offset-distance: 1%;
}
.redPlaneAnimate {
  animation: red-plane 2s ease;
}
.offsetDistance95 {
  offset-distance: 95%;
}


@keyframes white-plane {
  from {
    offset-distance: 100%;
  }
  to {
    offset-distance: 1%;
  }
}

@keyframes red-plane {
  from {
    offset-distance: 5%;
  }
  to {
    offset-distance: 95%;
  }
}

@media only screen and (max-width: 1023.98px) {
  .plane {
    width: 40px;
  }

  .path {
    width: 90%;
    height: auto;
  }

  .path1 {
    top: 1px;
  }
  .plane1 {
    top: -20px;
    left: -20px;
  }

  .path2 {
    top: 41px;
  }
  .plane2 {
    top: 20px;
    left: -20px;
  }

  .path3 {
    width: 80%;
    left: 30px;
  }
  .plane3 {
    top: 0px;
    left: 5px;
  }

  .path4 {
    width: 80%;
  }
  .plane4 {
    left: -22px;
    top: -2px;
  }

  .plane5 {
    top: 18px;
    left: -22px;
  }
  .planes {
    padding-bottom: 100px;
  }

  @media only screen and (max-width: 420px) {
    .planes {
    padding-bottom: 66px;
  }
    }
  .another__path {
    width: 100%;
    height: auto;
  }
  .redPlane {
    width: 60px;
    left: -60px;
    top: -35px;
  }
  .redPath {
    width: 100%:auto;
    height: auto;
  }
}

@media only screen and (min-width: 1200px) {
  .redPlane {
    top: -47px;
  }
}

@media only screen and (min-width: 1400px) {
  .redPlane {
    top: -37px;
  }
  .planes {
    padding-bottom: 250px;
  }
  .red__plane__group {
    top: 100px;
  }
}

@media only screen and (min-width: 1600px) {

  .redPlane {
    top: -29px;
  }
}
@media only screen and (min-width: 1800px) {
  .redPlane {
    top: -20px;
  }
  .planes {
    padding-bottom: 300px;
  }
  .red__plane__group {
    top: 150px;
  }
}
