*, *::before, *::after {
  box-sizing: inherit;
}

@font-face {
  font-family: "Proxima Nova Regular";
  src: url('./fonts/Proxima_Nova_Alt_Reg.otf');
  font-weight: 400;
  font-display: fallback;
}

@font-face {
  font-family: "Proxima Nova Bold";
  src: url('./fonts/Proxima_Nova_Alt_Bold.otf');
  font-weight: 700;
  font-display: fallback;
}

@font-face {
  font-family: "Proxima Nova Black";
  src: url('./fonts/Proxima_Nova_Alt_Black.otf');
  font-weight: 900;
  font-display: fallback;
}

@font-face {
  font-family: "Proxima Nova Light";
  src: url('./fonts/Proxima_Nova_Alt_Light.otf');
  font-weight: 300;
  font-display: fallback;
}


html {
  box-sizing: border-box;
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 62.5%;
  font-weight: 400;
}

h1,h2,h3,h4,h5,h6,p,ul,ol {
  margin: 0;
  padding: 0;
}

:root {
  --deepsky: #20baef;
  --darkgrey: #364550;
  --orange: #E8B300;
  --slategray: #707E81;
  --snow: #FCFCFC;
}

body {
  width: 100%;
}

.wrap {
  width: 100%;
}

.header__wrap {
  width: 100%;
}

.header {
  width: 100%;
}

.header__navigation__wrap {
  background: var(--darkgrey);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 5.49%;
  min-height: 37px;
  height: auto;
}

.header__navigation {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

.header__navigation__item {
  margin-left: 38px;
}

.header__navigation__link {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2em;
  cursor: pointer;
  font-family: "Proxima Nova Bold";
}

.header__navigation__phone {
  color: var(--orange);
  font-size: 1.2em;
  text-transform: uppercase;
  margin-left: 13px;
  text-decoration: none;
}

.header__tabs__wrap {
  position: relative;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 5.49%;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.header__logo {
  width: 100%;
  max-width: 278px;
}

.header__logo__link {
  width: 100%;
}

.header__logo__image {
  width: 100%;
}

.header__tabs {
  display: flex;
  align-items: flex-start;
  justify-content:flex-end;
  background: #fff;
  height: 100%;
}

.header__tab__item {
  margin-left: 37.2px;
  display: flex;
  align-items: center;
  color: var(--deepsky);
  text-transform: uppercase;
  font-family: "Proxima Nova Bold";
  font-size: 1.6em;
  height: 76px;
  box-sizing: content-box;
  cursor: pointer;

}

.header__tab__item img {
  margin-left: 4.5px;
}

.header__tab__item:hover {
  border-bottom: 4px solid var(--deepsky);
}

.header__tab__item.active {
  border-bottom: 4px solid var(--deepsky);
}

.header__tab__link {
  align-self: center;
  color: white;
  width: 208px;
  height: 46px;
  background: var(--deepsky);
  font-family: "Proxima Nova Bold";
  font-size: 1.6em;
  text-transform: uppercase;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-left: 54.7px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.tab {
  display: none;
  width: 100%;
  height: 587px;
  opacity: 0;
  transform: translateY(-50px);
  transition: 0.5s;
  position: absolute;
  background: var(--snow);
  padding-top: 95px;
  flex-direction: column;
  align-items: center;
}

.active {
  transform: translateY(0);
  opacity: 1;
}

.tabs__content__wrap {
  width: 100%;
  justify-content: center;
  position: relative;
  z-index: 0;
}

.tab__inner {
  width: 971px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tab__header {
  color: var(--deepsky);
  font-size: 2em;
  font-family: "Proxima Nova Black";
  text-transform: uppercase;
  width: 100%;
  border-bottom: 2px solid #707070;
  padding-bottom: 13px;
  margin-bottom: 17px;
}

.tab__content {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 22px 0;
  align-items: center;
  padding: 0 5px;
}

.tab__content__imageWrap {
  width: 74px;
  display: flex;
}

.tab__content__header {
  color: var(--slategray);
  font-family: "Proxima Nova Bold";
  font-size: 2em;
  margin-bottom: 8px;
}

.tab__content__text {
  font-size: 1.8em;
  color: var(--slategray);
  line-height: 22px;
}

.tab__content__block {
  width: 100%;
  max-width: 897px;
}

.tab__footer {
  background: #EFF6F8;
  height: 66px;
  align-self: auto;
  width: 100%;
}

.tab__footer__inner {
  height: 100%;
  width: 971px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.tab__footer__button {
  line-height: 40px;
  display: block;
  border: 1px solid var(--slategray);
  color: var(--slategray);
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 15px;
  font-family: "Proxima Nova Bold";
  font-size: 1.2em;
  border-radius: 22px;
  margin-right: 47px;
}

.tab__content__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.tab__content__left, .tab__content__right {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.tab__three .tab__content {
  justify-content: space-between;
}

.tab__three .tab__content__left {
  width: 49%;
}

.tab__header__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.tab__header__wrapper .tab__header {
  width: 49%;
}

.tab__content__price {
  min-width: 107px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--slategray);
}

.tab__price {
  font-family: "Proxima Nova Bold";
  font-size: 3em;
}

.tab__price__caption {
  font-size: 1.5em;
  text-align: center;
  white-space: nowrap;
}

.main {
  width: 100%;
  background-image: url('./../img/bg.svg');
  background-position: top 550px left -80px;
  background-repeat: no-repeat;
}

.head {
  width: 100%;
  background-image: url('./../img/bg.svg');
  background-position: top -40px right -50px;
  background-repeat: no-repeat;
}

.head__block {
  padding-right: 5.57%;
  padding-left: 16.56%;
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
}

.head__left {
  width: 42.27%;
}

.head__right {
  width: 54.91%;
}

.head__right img {
  width: 100%;
}

.head__name {
  margin-top: 80px;
  font-size: 1.4em;
  color: var(--deepsky);
  font-family: "Proxima Nova Black";
  text-transform: uppercase;
  margin-bottom: 13px;
}

.head__title {
  font-family: "Proxima Nova Bold";
  font-size: 5.4em;
  color: var(--darkgrey);
  margin-bottom: 34px;
}

.head__description {
  font-family: "Proxima Nova Light";
  font-size: 2.4em;
  color: var(--slategray);
  margin-bottom: 54px;
}

.button__sub {
  height: 53px;
  border-radius: 30px;
  background-color: var(--orange);
  color: white;
  text-decoration: none;
  font-family: "Proxima Nova Bold";
  font-size: 1.6em;
  padding: 0 22.5px;
  display: flex;
  align-items: center;
  width: auto;
  max-width: 254px;
  white-space: nowrap;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.16);
}

.button__sub__image {
  margin-left: 20px;
}

.head__left__bottom {
  margin-top: 63px;
  display: flex;
  align-items: center;
}

.head__left__images {
  height: 46px;
}

.head__left__images.itspa {
  margin-left: 22px;
}

.head__footer {
  margin-top: 62px;
  background: #F7F7FC;
  width: 100%;
}

.head__footer__inner {
  height: 86px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.head__fotter__block {
  width: auto;
}

.head__fotter__block {
  margin-right: 37px;
}

.head__fotter__block:first-child {
  margin-right: 57px;
}

.head__fotter__block:last-child {
  margin-right: 0;
}

.services {
  max-width: 974px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 89px;
}

.services__left {
  max-width: 566px;
  width: 100%;
}

.services__right {
  max-width: 380px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.services__left img {
  width: 100%;
}

.services__name {
  margin-top: 33px;
  font-family: "Proxima Nova Bold";
  font-size: 1.4em;
  color: var(--deepsky);
  margin-bottom: 18px;
}

.services__title {
  font-size: 3.1em;
  font-family: "Proxima Nova Bold";
  color: var(--darkgrey);
  margin-bottom: 30px;
  text-align: right;
}

.services__text {
  font-size: 1.8em;
  font-family: "Proxima Nova Light";
  line-height: 28px;
  color: var(--slategray);
  text-align: right;
  margin-bottom: 15px;
}

.serives__action {
  font-family: "Proxima Nova Bold";
  font-size: 1.8em;
  color: var(--darkgrey);
  text-align: right;
  margin-bottom: 62px;
}

.provider {
  width: 100%;
  background-image: url('./../img/bg_big.svg');
  background-repeat: no-repeat;
  background-position: top 80px right -40px;
  padding-top: 104px;
  min-height: 950px;
}

.provider__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  max-width: 974px;
  margin: 0 auto;
}

.provider__image {
  position: absolute;
  left: -350px;
  top: -140px;
}

.provider__top {
  width: 100%;
  max-width: 568px;
  margin-bottom: 60px;
}

.provider__block {
  max-width: 425px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 71px;
}

.provider__name {
  font-family: "Proxima Nova Black";
  font-size: 1.4em;
  margin-bottom: 14px;
  color: var(--deepsky);
}

.provider__title {
  font-family: "Proxima Nova Bold";
  font-size: 3.1em;
  color: var(--darkgrey);
  margin-bottom: 25px;
}

.provider__text {
  font-family: "Proxima Nova Light";
  font-size: 1.8em;
  color: var(--slategray);
  line-height: 28px;
}

.provider__block__content {
  width: 100%;
  max-width: 360px;
  margin-left: 20px;
}

.provider__block__title {
  font-family: "Proxima Nova Bold";
  font-size: 2.2em;
  var(--darkgrey);
  margin-bottom: 8px;
}

.provider__block__text {
  font-family: "Proxima Nova Light";
  line-height: 28px;
}

.systems {
  background: transparent;
}

.systems__background {
  background: #F7F7FC;
  width: 100%;
}

.systems__inner {
  width: 100%;
  max-width: 1164px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.systems__left {
  width: 40.76%;
  padding-top: 132px;
  margin-left: 8.16%;
  margin-right: 5%;
}

.systems__name {
  font-size: 1.4em;
  color: var(--deepsky);
  font-family: "Proxima Nova Black";
  margin-bottom: 14px;
}

.systems__title {
  font-family: "Proxima Nova Bold";
  font-size: 3.1em;
  color: var(--darkgrey);
  margin-bottom: 25px;
}

.systems__text {
  font-family: "Proxima Nova Light";
  color: var(--slategray);
  font-size: 1.8em;
  line-height: 28px;
}

.systems__subtitle {
  font-family: "Proxima Nova Bold";
  font-size: 2.2em;
  line-height: 28px;
  color: var(--darkgrey);
  margin-bottom: 8px;
}

.systems__left .systems__subtitle {
  margin-top: 30px;
}

.systems__left .button__sub {
  margin-top: 70px;
}

.systems__right {
  width: 53.14%;
  border: 10px solid white;
  box-shadow: 0px 6px 12px rgba(0,0,0,0.16);
  border-radius: 60px;
  padding: 85px 65px;
  margin-top: -40px;
  background: #F7F7FC;
}

.systems__block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 33px;
}

.systems__image {
  margin-right: 28px;
}

.button__sub__blue {
  background: var(--deepsky);
  max-width: 201px;
}

.access {
  width: 100%;
  background-image: url('./../img/bg.svg');
  background-repeat: no-repeat;
  background-position: top -95px left -80px;
}

.access__inner {
  max-width: 974px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 12.34%;
  padding-bottom: 60px;
}

.access__left {
  width: 40.35%;
}

.access__right {
  width: 40.76%;
  margin-top: 89px;
}

.access__right img {
  width: 100%;
}

.access__name {
  color: var(--deepsky);
  font-family: "Proxima Nova Black";
  font-size: 1.4em;
  margin-bottom: 18px;
}

.access__title {
  color:var(--darkgrey);
  font-family: "Proxima Nova Bold";
  font-size: 3.1em;
  margin-bottom: 25px;
}

.access__text {
  color: var(--slategray);
  font-family: "Proxima Nova Light";
  font-size: 1.8em;
  line-height: 28px;
  margin-bottom: 40px;
}

.trusted {
  width: 100%;
}

.trusted__inner {
  max-width: 974px;
  width: 100%;
  margin: 0 auto;
  padding-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 144px;
}

.trusted__name {
  color: var(--deepsky);
  font-size: 1.4em;
  font-family: "Proxima Nova Black";
  margin-bottom: 22px;
}

.trusted__title {
  max-width: 400px;
  text-align: center;
  font-size: 3.1em;
  font-family: "Proxima Nova Bold";
  color: var(--darkgrey);
  margin-bottom: 27px;
}

.trusted__text {
  font-size: 1.8em;
  font-family: "Proxima Nova Light";
  color: var(--slategray);
  max-width: 400px;
  line-height: 28px;
  text-align: center;
}

.trusted__block {
  margin-top: 30px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  margin-bottom: 66px;
}

.trusted__item {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.trusted__image {
  margin-bottom: 33px;
}

.trusted__subtitle {
  font-size: 4.2em;
  color: var(--darkgrey);
  font-family: "Proxima Nova Black";
}

.trusted__item__caption {
  font-size: 2em;
  font-family: "Proxima Nova Light";
  color: var(--darkgrey);
}

.trusted .button__sub {
  max-width: 231px;
}

.ready {
  background: var(--deepsky);
  width: 100%;
}

.ready__inner {
  max-width: 974px;
  width: 100%;
  margin: 0 auto;
  color: white;
  padding-top: 47px;
  display: flex;
  justify-content: center;
  padding-bottom: 47px;
}

.ready__left {
  width: 33.36%;
  margin-right: 11.08%;
}

.ready__right {
  width: 39%;
}

.ready__title {
  font-size: 3.1em;
  font-family: "Proxima Nova Bold";
  margin-bottom: 13px;
}

.ready__text {
  font-size: 1.4em;
  font-family: "Proxima Nova Light";
  line-height: 18px;
}

.ready__right__text {
  font-family: "Proxima Nova Light";
  line-height: 28px;
  font-size: 1.8em;
  margin-bottom: 31px;
}

.button__sub__white {
  color: var(--deepsky);
  background: white;
  max-width: 194px;
}

.footer {
  width: 100%;
}

.footer__top{
  background: #F7F7FC;
  width: 100%;
}

.footer__top__inner {
  width: 100%;
  max-width: 974px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 100px;
}

.footer__top__block {
  width: 264px;
}

.footer__logo {
  margin-bottom: 23px;
}

.footer__top__title {
  font-family: "Proxima Nova Bold";
  font-size: 1.4em;
  margin-bottom: 7px;
  color: var(--slategray);
}

.footer__top__item {
  display: block;
  font-family: "Proxima Nova Bold";
  font-size: 1.4em;
  color: var(--deepsky);
  text-decoration: none;
  margin-bottom: 19px;
}

.footer__socials {
  display: flex;
  padding-top: 10px;
}

.footer__social__link {
  margin-right: 23px;
}

.footer__top__links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__top__header {
  font-family: "Proxima Nova Bold";
  font-size: 1.2em;
  text-transform: uppercase;
  color: var(--slategray);
}

.footer__top__link {
  margin-top: 13px;
  font-size: 1em;
  font-family: "Proxima Nova Regular";
  color: var(--slategray);
  text-decoration: none;
}

.footer__middle {
  background: #E2F0F4;
  min-height: 68px;
  width: 100%;
}

.footer__middle__inner {
  min-height: 68px;
  max-width: 974px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__middle__link {
  font-family: "Proxima Nova Regular";
  font-size: 1.2em;
  color: var(--slategray);
  text-decoration: none;
  margin-right: 41px;
}

.footer__middle__left {
  display: flex;
  align-items: center;
}

.footer__middle__menu {
  text-decoration: none;
  font-family: "Proxima Nova Light";
  font-size: 1.4em;
  color: var(--slategray);
  margin-bottom: 5px;
}

.footer__bottom {
  background: #A6B9BE;
  width: 100%;
  height: 27px;
}

.footer__bottom__inner {
  width: 100%;
  max-width: 974px;
  margin: 0 auto;
  display: flex;
  height: 100%;
  align-items: center;
  color: white;
  font-size: 1em;
  font-family: "Proxima Nova Regular";
}

.mobile__button {
  display: none;
}

@media only screen and (max-width: 1023.98px) {
  .header__wrap {
    position: relative;
  }

  .header__navigation {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 600px;
    overflow: hidden;
    top: 0;
    z-index: 10;
    background: var(--darkgrey);
    display: none;
  }

  .header__navigation.active {
    display: flex;
  }

  .header__navigation__wrap {
    padding-right: 0;
    height: 80px;
  }

  .header__navigation__item {
    font-size: 2em;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }

  .mobile__button {
    display: inline-block;
    cursor: pointer;
    z-index: 11;
    padding-right: 20px;
  }

  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #FCFCFC;
    margin: 6px 0;
    transition: 0.4s;
  }

  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .change .bar2 {opacity: 0;}

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

  .header__tabs__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-right: 0;
    height: auto;
  }

  .header__tabs {
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 30px;
  }

  .header__tab__item {
    margin-left: 0;
    min-width: 150px;
    justify-content: center;
  }

  .header__tab__item span {
    width: 100px;
  }

  .tabs__content__wrap {
    position: absolute;
    top: 0;
    z-index: 99;
    width: 100%;
  }

  .tab {
    height: auto;
    padding-top: 0;
  }

  .tab__inner {
    width: 100%;
    padding: 15px;
  }

  .tab__close {
    font-size: 4em;
    color: var(--darkgrey);
    align-self: flex-end;
  }

  .tab__two .tab__content {
    flex-direction: column;
  }

  .tab__two .tab__content__left,
  .tab__two .tab__content__right {
    width: 50%;
  }

  .tab__two .tab__content__block {
    margin-top: 10px;
  }

  .tab__three .tab__content {
    flex-direction: column;
  }

  .tab__content__price {
    margin-top: 32px;
  }

  .header__tab__link {
    margin-left: 0;
  }

  .tab__four .tab__content {
    flex-direction: column;
  }

  .tab__four .tab__content__block {
    margin-top: 15px;
  }

  .tab__conntent__margin {
    margin-top: 85px;
  }

  .head__right {
    display: none;
  }

  .head__block {
    padding: 50px 15px;
  }

  .head__left {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .head__footer__inner {
    height: auto;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
  }

  .head__fotter__block {
    margin-right: 0!important;
  }

  .services {
    flex-direction: column;
    padding: 0 15px;
    align-items: center;
  }

  .services__right {
    max-width: 100%;
  }

  .provider__inner {
    padding: 0 15px;
    align-items: center;
  }

  .provider__image {
    display: none;
  }

  .systems__inner {
    padding: 0 15px 50px;
    flex-direction: column;
  }

  .systems__left {
    width: 100%;
    margin: 0;
  }

  .systems__right {
    width: 100%;
    margin-top: 40px;
    padding: 30px 15px;
  }

  .access__inner {
    flex-direction: column;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
  }

  .access__left {
    width: 100%;
  }

  .access__right {
    width: 100%;
  }

  .trusted__inner {
    padding: 50px 15px;
  }

  .trusted__block {
    flex-direction: column;
    align-items: center;
  }

  .trusted__item {
    width: 100%;
    margin-bottom: 40px;
  }

  .ready__inner {
    padding: 47px 15px;
    flex-direction: column;
    align-items: center;
  }

  .ready__left {
    width: 100%;
    margin-right: 0;
  }

  .ready__right {
    width: 100%;
    margin-top: 40px;
  }

  .footer__top__inner {
    flex-wrap: wrap;
    padding: 50px 15px 50px;
  }

  .footer__top__block {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
  }

  .footer__top__links {
    margin: 20px 0;
    width: 45%;
  }

  .footer__top__links:nth-child(2n) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 5%
  }

  .footer__middle__inner {
    padding: 20px 15px;
    justify-content: center;
  }

  .footer__middle__right {
    display: flex;
    flex-direction: column;
    margin-right: 5%;
  }

  .footer__middle__link {
    margin-right: 0;
    margin-bottom: 10px;
    text-align: right;
  }
}

@media only screen and (max-width: 500.98px) {
  .access {
    background-size: contain;
  }

  .provider {
    background-size: contain;
  }

  .head {
    background-size: contain;
  }

  .main {
    background-size: contain;
  }

 }
