*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0;
  padding: 0;
}

:root {
  --black: #191d20;
  --golden: #e7a632;
  --darkgray: #323337;
  --aliceblue: #f1ffff;
}

body {
  background: #191d20;
  background: var(--black);
  width: 100%;
}

.about {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.about__header {
  width: 100%;
  position: relative;
  padding: 0 52px 0 79px;
}

.about__logo__block {
  width: 160px;
  height: 147px;
  background: #e7a632;
  background: var(--golden);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 12px 17px;
  margin-bottom: 29px;
   box-shadow: 0px 10px 8.7px 0.3px rgba(0, 0, 0, 0.26);
}

.about__logo__block a {
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.about__logo__block img {
  width: 100%;
}

.about__title {
  font-weight: bold;
  color: white;
  font-size: 4.5em;
  text-transform: uppercase;
  border-left-color: #e7a632;
  border-left: 3px solid var(--golden);
  padding-left: 13px;
  line-height: 0.95;
  display: flex;
  flex-direction: column;
}

.about__title--smallLineHeight {
  line-height: 0.75;
}

.about__title--normalLineHeight {
  line-height: 1.25;
}

.about__subtitle {
  font-size: 2.5em;
  color: white;
  font-weight: 500;
  line-height: 1.64;
  text-transform: uppercase;
  margin-top: 25px;
}

.main {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 50px;
  padding-bottom: 80px;
}

.main__inner {
  padding: 0 59px 0 89px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.main__title {
  padding: 0 22px 0 89px;
  background: #e7a632;
  background: var(--golden);
  box-shadow: 0px 10px 8.7px 0.3px rgba(0, 0, 0, 0.26);
  margin-left: -89px;
  line-height: 51px;
  font-weight: 900;
  color: black;
  font-size: 2em;
  margin-bottom: 9.67%;
  white-space: nowrap;
}

.main__right {
  width: 49.54%;
}

.main__right img {
  width: 100%;
}

.main__left {
  width: 46.8%;
}

.main__block {
  box-shadow: 0px 10px 8.7px 0.3px rgba(0, 0, 0, 0.26);
  background: var(--darkgray);
  color: white;
  font-size: 2.35em;
  font-weight: 500;
  padding: 9px 9px 9px 19px;
  margin-bottom: 6.85%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 45px;
  height: 6%;
}

.main__block.small {
  width: 63%
}

.main__block.medium {
  width: 81.5%;
}

.main__block.biglines {
  height: 10.78%;
  min-height: 70px;
}

.main__textblock {
  margin-top: 51px;
  padding: 0 59px 0 89px;
  font-size: 22px;
  color: #e7a632;
  color: var(--golden);
  font-weight: 500;
  text-align: justify;
}

@media only screen and (max-width: 1023.98px) {
  .about__header,
  .main__inner,
  .main__textblock {
    padding: 0 15px 0 20px;
  }
}

@media only screen and (max-width: 839.98px) {
  .about__logo__block {
    width: 98px;
    height: 91px;
  }

  .about__title {
    font-size: 2.6em;
  }

  .about__subtitle {
    font-size: 1.6em;
  }

  .main__inner {
    padding: 0 15px 0 15px;
    flex-direction: column;
  }

  .main__left {
    width: 100%;
  }

  .main__right{
     width: 100%;
  }

  .main__title {
    font-size: 1.6em;
    text-align: center;
    white-space: normal;
    margin-left: 0;
    padding: 5px 22px;
    line-height: 28px;
  }

  .main__block.small,
  .main__block.medium{
    width: 100%;
  }

  .main__block {
    margin-top: 24px;
    line-height: 1.3;
    font-size: 2em;
  }

  .main__textblock {
    font-size: 1.6em;
    line-height: 1.3;
  }
}
