*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0;
  padding: 0;
}

:root {
  --white: #fff;
  --golden: #e7a632;
  --darkgray: #323337;
  --aliceblue: #f1ffff;
  --lightgrey: #d8d8d8;
  --black: #000;
  --newblue: #0177aa;
}

body {
  background: #fff;
  background: var(--white);
  width: 100%;
}

.about {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
}

.about__header {
  width: 100%;
  position: relative;
  padding: 0 52px 0 79px;
}

.about__header__inner {
  flex-direction: column;
  display: flex;
}

.about__logo__block {
  width: 160px;
  height: auto;
  background: #fff;
  background: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17px 12px 17px;
}

.about__logo__block a {
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.about__logo__block img {
  width: 100%;
}

.navigation {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
}

.navigation__list {
  list-style-type: none;
  font-size: 1.6em;
  font-family: "Montserrat";
  color: var(--aliceblue);
  text-align: center;
  display: flex;
}

.navigation__item {
  padding: 18px 10px 10px;
  transition: ease 0.15s;
}

.navigation__item a {
  color: black;
  color: var(--black);
  text-decoration: none;
}

.navigation__item.active {
  background: #0177aa;
  background: var(--newblue);
}

.navigation__item.active a {
  color: white;
  color: var(--white);
}

.navigation__item:hover {
  background: #e7a632;
  background: var(--newblue);
}

.navigation__item:hover a {
  color: white;
  color: var(--white);
}

.mobile__button {
  display: none;
}

.about__title {
  font-weight: bold;
  color: black;
  color: var(--black);
  font-size: 4.5em;
  text-transform: uppercase;
  border-left-color: #0177aa;
  border-left: 12px solid var(--newblue);
  padding-left: 13px;
  line-height: 0.95;
  display: flex;
  flex-direction: column;
}

.about__title--smallLineHeight {
  line-height: 0.75;
}

.about__title--normalLineHeight {
  line-height: 1.25;
}

.about__subtitle {
  font-size: 2.5em;
  color: black;
  color: var(--black);
  font-weight: 500;
  line-height: 1.64;
  text-transform: uppercase;
  margin-top: 25px;
}

.main {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  margin-top: 50px;
  padding-bottom: 80px;
}

.main__inner {
  padding: 0 59px 0 89px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.main__title {
  padding: 0 22px 0 89px;
  background: #0177aa;
  background: var(--newblue);
  box-shadow: 0px 10px 8.7px 0.3px rgba(0, 0, 0, 0.26);
  margin-left: -89px;
  line-height: 51px;
  font-weight: 900;
  color: white;
  color: var(--white);
  font-size: 2em;
  margin-bottom: 9.67%;
  white-space: nowrap;
}

.main__right {
  width: 49.54%;
}

.main__right img {
  width: 100%;
}

.main__left {
  width: 46.8%;
}

.main__block {
  box-shadow: 0px 10px 8.7px 0.3px rgba(0, 0, 0, 0.26);
  background: #0177aa;
  background: var(--newblue);
  color: white;
  font-size: 2.35em;
  font-weight: 500;
  padding: 9px 9px 9px 19px;
  margin-bottom: 6.85%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 45px;
  height: 6%;
}

.main__block.small {
  width: 63%
}

.main__block.medium {
  width: 81.5%;
}

.main__block.biglines {
  height: 10.78%;
  min-height: 70px;
}

.main__textblock {
  margin-top: 51px;
  padding: 0 59px 0 89px;
  font-size: 22px;
  color: black;
  color: var(--black);
  font-weight: 500;
  text-align: justify;
}

.footer {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 5.27%;
}

.footer__inner {
  width: 100%;
  background: #fff;
  background: var(--white);
  padding: 30px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__item__link {
  max-width: 25%;
}

.footer__item__image {
  width: 100%;
}

@media only screen and (max-width: 1023.98px) {
  .about__header,
  .main__inner,
  .main__textblock {
    padding: 0 15px 0 20px;
  }
}

@media only screen and (max-width: 839.98px) {
  .about__logo__block {
    width: 98px;
    height: 91px;
    align-self: flex-end;
  }

  .about__header {
    position: inherit;
  }

  .about__header__inner {
    position: inherit;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .navigation {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: white;
    background: var(--white);
    transition: 0.25s;
    opacity: 0;
    transform: translate(-50%, 0);
    z-index: 999;
  }

  .navigation.active {
    display: flex;
  }

  .navigation.animation {
    opacity: 1;
    transform: translate(0, 0);
  }

  .navigation__list {
    flex-direction: column;
    align-items: center;
  }

  .navigation__item {
    margin: 10px 0;
  }

  .mobile__button {
    position: absolute;
    left: 0;
    top: 7px;
    display: block;
    cursor: pointer;
    z-index: 11;
    padding: 5px 10px;
    z-index: 1000;
  }

  .bar1, .bar2, .bar3 {
    width: 42px;
    height: 3px;
    background: #0177aa;
    background-color: var(--newblue);
    margin: 7px 0;
    transition: 0.4s;
    border-radius: 4px;
  }

  .bar2 {
    margin-left: -2px;
  }

  .bar3 {
    margin-left: 1px;
  }

  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-7px, 7px);
    transform: rotate(-45deg) translate(-7px, 7px);
  }

  .change .bar2 {opacity: 0;}

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-7px, -7px);
    transform: rotate(45deg) translate(-7px, -7px);
    margin-left: 0;
  }

  .about__title {
    font-size: 2.6em;
  }

  .about__subtitle {
    font-size: 1.6em;
  }

  .main__inner {
    padding: 0 15px 0 15px;
    flex-direction: column;
  }

  .main__left {
    width: 100%;
  }

  .main__right{
     width: 100%;
  }

  .main__title {
    font-size: 1.6em;
    text-align: center;
    white-space: normal;
    margin-left: 0;
    padding: 5px 22px;
    line-height: 28px;
  }

  .main__block.small,
  .main__block.medium{
    width: 100%;
  }

  .main__block {
    margin-top: 24px;
    line-height: 1.3;
    font-size: 2em;
  }

  .main__textblock {
    font-size: 1.6em;
    line-height: 1.3;
  }

  .footer {
    padding: 33px 7.18%;
  }

  .footer__inner {
    padding: 5px 10px;
  }

  .footer__item__link {
    max-width: 20%;
  }

  .footer__item__link.smallOne {
    max-width: 15%;
  }
}
