*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0;
  padding: 0;
}

:root {
  --white: #fff;
  --golden: #e7a632;
  --darkgray: #323337;
  --aliceblue: #f1ffff;
  --lightgrey: #d8d8d8;
  --black: #000;
  --newblue: #0177aa;
}

body {
  background: #fff;
  background: var(--white);
  width: 100%;
}

.clients {
  width: 100%;
}

.header {
  position: relative;
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.header__image {
  width: 100%;
  display: block;
}

.clients__logo__block {
  width: 160px;
  height: auto;
  background: #fff;
  background: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17px 12px 17px;
}

.clients__logo__block a {
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.clients__logo__block img {
  width: 100%;
}

.header__title {
  font-size: 6.15em;
  color: white;
  height: 95px;
  padding-right: 23px;
  padding-left: 101px;
  position: absolute;
  left: 0;
  display: flex;
  align-items:center;
  font-weight: bold;
  bottom: 78px;
  background: #0177aa;
  background: var(--newblue);
}

.navigation {
  display: flex;
  justify-content: flex-end;
}

.navigation__list {
  list-style-type: none;
  font-size: 1.6em;
  font-family: "Montserrat";
  color: var(--aliceblue);
  text-align: center;
  display: flex;
}

.navigation__item {
  padding: 18px 10px 10px;
  transition: ease 0.15s;
}

.navigation__item a {
  color: black;
  color: var(--black);
  text-decoration: none;
}

.navigation__item.active {
  background: #0177aa;
  background: var(--newblue);
}

.navigation__item.active a {
  color: white;
  color: var(--white);
}

.navigation__item:hover {
  background: #e7a632;
  background: var(--newblue);
}

.navigation__item:hover a {
  color: white;
  color: var(--white);
}

.mobile__button {
  display: none;
}

.main {
  width: 100%;
}

.clients__text {
  color: black;
  color: var(--black);
  font-size: 2.4em;
  font-weight: 500;
  padding: 35px 60px 24px 40px;
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
}

.clients__says {
  background: white;
  background: var(--white);
  width: 100%;
}

.clients__says__inner {
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clients__says__title {
  text-align: center;
  display: inline-block;
  margin: 0 auto -50px;
  font-size: 2.6em;
  font-weight: bold;
  line-height: 1.25;
  letter-spacing: 3px;
  color: black;
  color: var(--black);
  text-transform: uppercase;
  position: relative;
  z-index: 999;
  background: #fff;
  padding: 5px 20px;
}

.clients__says__block {
  display: flex;
  justify-content: space-between;
  padding: 80px 43px 56px;
  width: 100%;
  align-items: flex-start;
  border: 12px solid black;
}

.clients__says__left {
  width: 45.96%;
  border-left: 12px solid #0177aa;
  border-left-color: var(--newblue);
  padding-left: 34px;
}

.client__says__subtitle {
  color: white;
  font-size: 2.3em;
  font-weight: bold;
  text-transform: uppercase;
  text-indent: -14px;
  color: black;
  color: var(--black);
}

.client__says__name {
  margin-top: 20px;
  color: black;
  color: var(--black);
  font-size: 2em;
}

.client__says__name .bold {
  font-weight: bold;
  display: block;
  color: #0177aa;
  color: var(--newblue);
}

.clients__says__right {
  width: 51.88%;
  border-left: 12px solid #0177aa;
  border-left-color: var(--newblue);
  padding-left: 34px;
}

.clients__list {
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
  padding: 45px 43px 24px 43px;
}

.clients__row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.clients__item {
  width: 49%;
  font-size: 2em;
  color: black;
  color: var(--black);
}

.clients__item .bold {
  font-weight: 900;
  display: block;
  color: #0177aa;
  color: var(--newblue);
}

.footer {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 5.27%;
}

.footer__inner {
  width: 100%;
  background: #ffffff;
  background: var(--white);
  padding: 30px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__item__link {
  max-width: 25%;
}

.footer__item__image {
  width: 100%;
}

@media only screen and (max-width: 839.98px) {

  .clients__logo__block {
    width: 98px;
    height: 91px;
    align-self: flex-end;
  }

  .header {
    height: 500px;
    background-image: url('./../img/clientsnew.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .header__image {
    display: none;
  }

  .header__title {
    font-size: 3em;
    padding-left: 40px;
    height: 80px;
  }

  .navigation {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: white;
    background: var(--white);
    transition: 0.25s;
    opacity: 0;
    transform: translate(-50%, 0);
    z-index: 999;
  }

  .navigation.active {
    display: flex;
  }

  .navigation.animation {
    opacity: 1;
    transform: translate(0, 0);
  }

  .navigation__list {
    flex-direction: column;
    align-items: center;
  }

  .navigation__item {
    margin: 10px 0;
  }

  .mobile__button {
    position: absolute;
    left: 0;
    top: 7px;
    display: block;
    cursor: pointer;
    z-index: 11;
    padding: 5px 10px;
    z-index: 1000;
  }

  .bar1, .bar2, .bar3 {
    width: 42px;
    height: 3px;
    background: #0177aa;
    background: var(--newblue);
    margin: 7px 0;
    transition: 0.4s;
    border-radius: 4px;
  }

  .bar2 {
    margin-left: -2px;
  }

  .bar3 {
    margin-left: 1px;
  }

  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-7px, 7px);
    transform: rotate(-45deg) translate(-7px, 7px);
  }

  .change .bar2 {opacity: 0;}

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-7px, -7px);
    transform: rotate(45deg) translate(-7px, -7px);
    margin-left: 0;
  }

  .clients__text {
    padding-left: 15px;
    padding-right: 15px;
  }

  .clients__says__title {
    margin-bottom: 20px;
    font-size: 2.2em;
  }

  .client__says__subtitle {
    font-size: 2em;
  }

  .clients__says__block {
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
  }

  .clients__says__left {
    width: 100%;
    margin-bottom: 30px;
  }

  .clients__says__right {
    width: 100%;
  }

  .clients__list {
    padding-left: 15px;
    padding-right: 15px;
  }

  .clients__row {
    flex-direction: column;
    margin-bottom: 0;
  }

  .clients__item {
    width: 100%;
    margin-bottom: 25px;
  }

  .footer {
    padding: 33px 7.18%;
  }

  .footer__inner {
    padding: 5px 10px;
  }

  .footer__item__link {
    max-width: 20%;
  }

  .footer__item__link.smallOne {
    max-width: 15%;
  }
}
