*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0;
  padding: 0;
}

:root {
  --black: #191d20;
  --golden: #e7a632;
  --darkgray: #323337;
  --aliceblue: #f1ffff;
}

body {
  background: #191d20;
  background: var(--black);
  width: 100%;
}

.services {
  width: 100%;
}

.header {
  position: relative;
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
}

.header__image {
  width: 100%;
  display: block;
}

.services__logo__block {
  position: absolute;
  top: 0;
  left: 7.71%;
  width: 160px;
  height: 147px;
  background: #e7a632;
  background: var(--golden);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 12px 17px;
}

.services__logo__block a {
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.services__logo__block img {
  width: 100%;
}

.header__title {
  font-size: 6.15em;
  color: #191d20;
  height: 95px;
  padding-right: 23px;
  padding-left: 101px;
  position: absolute;
  left: 0;
  display: flex;
  align-items:center;
  font-weight: bold;
  bottom: 68px;
  background: #e7a632;
  background: var(--golden);
}

.navigation {
  display: flex;
  justify-content: flex-end;
}

.navigation__list {
  list-style-type: none;
  font-size: 1.6em;
  font-family: "Montserrat";
  color: var(--aliceblue);
  text-align: center;
  display: flex;
}

.navigation__item {
  padding: 18px 10px 10px;
  transition: ease 0.15s;
}

.navigation__item a {
  color: #f1ffff;
  text-decoration: none;
}

.navigation__item.active {
  background: #e7a632;
  background: var(--golden);
}

.navigation__item.active a {
  color: #000;
}

.navigation__item:hover {
  background: #e7a632;
  background: var(--golden);
}

.navigation__item:hover a {
  color: #000;
}

.mobile__button {
  display: none;
}

.main {
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
  padding: 35px 60px 24px 40px;

}

.services__text {
  width: 100%;
  color: #e7a632;
  color: var(--golden);
  font-size: 24px;
  text-align: justify;
}

.services__banner {
  width: 100%;
  background: #323337;
  background: var(--darkgray);
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: 2.4em;
  font-weight: 900;
  letter-spacing: 5px;
  padding: 13px 0;
}

.services__content {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.services__left {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2.5em;
  text-transform: uppercase;;
  text-align: center;
  padding: 0 30px;
  line-height: 1.4;
  font-weight: 900;
}

.services__middle {
  width: 27%;
  border-left: 9px solid #e7a632;
  border-left-color: var(--golden);
  display: flex;
  flex-direction: column;
  padding: 25px 0 0 20px;
  color: #e7a632;
  color: var(--golden);
  text-align: left;
  font-size: 2em;
}

.services__middle span {
  margin-bottom: 25px;
}

.services__right {
  width: 31%;
  display: flex;
  flex-direction: column;
  padding: 25px 0 0 20px;
  color: #e7a632;
  color: var(--golden);
  text-align: left;
  font-size: 2em;
}

.services__right span {
  margin-bottom: 25px;
}

.footer {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 5.27%;
}

.footer__inner {
  width: 100%;
  background: #f1ffff;
  background: var(--aliceblue);
  padding: 30px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__item__link {
  max-width: 25%;
}

.footer__item__image {
  width: 100%;
}

@media only screen and (max-width: 1023.98px) {

  .services__banner {
    font-size: 2.2em;
  }

  .services__logo__block {
    width: 98px;
    height: 91px;
    top: 0;
    left: auto;
    right: 8.281%;
  }

  .header__image{
    display: none;
  }

  .header {
    height: 500px;
    background-image: url('./../img/services__banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .header__title {
    font-size: 3em;
    padding-left: 40px;
    height: 80px;
  }

  .navigation {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    justify-content: center;
    align-items: center;
    background: var(--darkgray);
    transition: 0.25s;
    opacity: 0;
    transform: translate(-50%, 0);
  }

  .navigation.active {
    display: flex;
  }

  .navigation.animation {
    opacity: 1;
    transform: translate(0, 0);
  }

  .navigation__list {
    flex-direction: column;
    align-items: center;
  }

  .navigation__item {
    margin: 10px 0;
  }

  .mobile__button {
    position: absolute;
    left: 0;
    top: 7px;
    display: block;
    cursor: pointer;
    z-index: 11;
    padding: 5px 10px;
  }

  .bar1, .bar2, .bar3 {
    width: 42px;
    height: 3px;
    background: #323337;
    background-color: var(--darkgray);
    margin: 7px 0;
    transition: 0.4s;
    border-radius: 4px;
  }

  .bar2 {
    margin-left: -2px;
  }

  .bar3 {
    margin-left: 1px;
  }

  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-7px, 7px);
    transform: rotate(-45deg) translate(-7px, 7px);
    background: #e7a632;
    background-color: var(--golden);
  }

  .change .bar2 {opacity: 0;}

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-7px, -7px);
    transform: rotate(45deg) translate(-7px, -7px);
    margin-left: 0;
    background: #e7a632;
    background-color: var(--golden);
  }

  .main {
    padding: 55px 15px 0 15px;
  }

  .services__text {
    font-size: 2em;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  .services__banner {
    flex-direction: column;
    align-items: center;
    margin-top: 55px;
    max-width: 400px;
    margin: 55px auto 0;
  }

  .services__banner h3 {
    margin: 10px 0;
  }

  .services__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 0;
  }

  .services__left,
  .services__right,
  .services__middle {
    width: 100%;
    text-align: center;
    margin: 15px auto;
    padding: 0;
    max-width: 400px;
  }

  .footer {
    padding: 33px 7.18%;
  }

  .footer__inner {
    padding: 5px 10px;
  }

  .footer__item__link {
    max-width: 20%;
  }

  .footer__item__link.smallOne {
    max-width: 15%;
  }
}
}
