*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0;
  padding: 0;
}

:root {
  --black: #191d20;
  --golden: #e7a632;
  --darkgray: #323337;
  --aliceblue: #f1ffff;
}

body {
  background: #191d20;
  background: var(--black);
  width: 100%;
}

.home {
  width: 100%;

  padding: 0 0 65px;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 5.27% 35px;
  margin: 0 auto;
  max-width: 1440px;
}

.header__inner {
  width: 100%;
  position: relative;
  padding-top: 56px;
}

.header__logo__block {
  width: 160px;
  height: 147px;
  background: #e7a632;
  background: var(--golden);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 12px 17px;
  position: absolute;
  top: 0;
  left: 2.34%;
}

.header__logo__block a {
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.header__logo__block img {
  width: 100%;
}

.header__homeImage__block {
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.header__homeImage__block img {
  width: 100%;
}

.navigation {
  align-self: flex-end;
}

.navigation__list {
  list-style-type: none;
  font-size: 1.6em;
  font-family: "Montserrat";
  color: var(--aliceblue);
  text-align: center;
  display: flex;
}

.navigation__item {
  padding: 18px 10px 10px;
  transition: ease 0.15s;
}

.navigation__item a {
  color: #f1ffff;
  text-decoration: none;
}

.navigation__item.active {
  background: #e7a632;
  background: var(--golden);
}

.navigation__item.active a {
  color: #000;
}

.navigation__item:hover {
  background: #e7a632;
  background: var(--golden);
}

.navigation__item:hover a {
  color: #000;
}

.main {
  width: 100%;
}

.main__about__wrap {
  background: #323337;
  background: var(--darkgray);
  width: 100%;
}

.main__about {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 45px 5.27%;
}

.main__header {
  font-weight: bold;
  color: white;
  font-size: 4.5em;
  text-transform: uppercase;
  border-left-color: #e7a632;
  border-left: 3px solid var(--golden);
  padding-left: 13px;
  line-height: 0.95;
  display: flex;
  flex-direction: column;
}

.main__header--smallLineHeight {
  line-height: 0.75;
}

.main__header--normalLineHeight {
  line-height: 1.25;
}

.main__subheader {
  margin-top: 35px;
  color: white;
  font-size: 3.2em;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 25px;
}

.main__text {
  color: #e7a632;
  color: var(--golden);
  font-size: 2.2em;
  margin-bottom: 20px;
}

.home__readMore {
  cursor: pointer;
  padding: 7px 7px 7px;
  transition: 0.15s;
  border: none;
  outline: none;
  color: #000;
  font-size: 2.2em;
  text-decoration: none;
  line-height: 1.25;
  background-color: #e7a632;
  background-color: var(--golden);
}

.home__readMore:hover {
  background: #fa9532;
}

.main__services {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 45px 5.27%;
  display: flex;
  justify-content: space-between;
}

.main__card {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__card__image {
  width: 100%;
  margin-bottom: 16px;
}

.main__card__image img {
  width: 100%;
}

.main__card .home__readMore {
  align-self: flex-end;
}

.main__card__title {
  color: #f1ffff;
  color: var(--aliceblue);
  font-size: 3em;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.footer {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 5.27%;
}

.footer__inner {
  width: 100%;
  background: #f1ffff;
  background: var(--aliceblue);
  padding: 30px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__item__link {
  max-width: 25%;
}

.footer__item__image {
  width: 100%;
}

.mobile__button {
  display: none;
}

@media only screen and (max-width: 767.98px) {

  .header__logo__block {
    width: 98px;
    height: 91px;
    left: auto;
    right: 8.281%;
  }

  .navigation {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    justify-content: center;
    align-items: center;
    background: var(--darkgray);
    transition: 0.25s;
    opacity: 0;
    transform: translate(-50%, 0);
  }

  .navigation.active {
    display: flex;
  }

  .navigation.animation {
    opacity: 1;
    transform: translate(0, 0);
  }

  .navigation__list {
    flex-direction: column;
    align-items: center;
  }

  .navigation__item {
    margin: 10px 0;
  }

  .home {
    padding: 0;
  }

  .mobile__button {
    position: absolute;
    left: 0;
    top: 47px;
    background: #e7a632;
    background: var(--golden);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    z-index: 11;
    width: 75px;
    height: 51px;
    padding: 5px 10px;
  }

  .border {
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 40px;
    flex-direction: column;
    padding: 2px 7px;
}

  .bar1, .bar2, .bar3 {
    width: 22px;
    height: 4px;
    background-color: black;
    margin: 5px 0;
    transition: 0.4s;
    border-radius: 4px;
  }

  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }

  .change .bar2 {opacity: 0;}

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-7px, -7px);
    transform: rotate(45deg) translate(-7px, -7px);
  }

  .main__header {
    font-size: 2.6em;
  }

  .main__subheader {
    font-size: 1.6em;
  }

  .main__text {
    font-size: 1.2em;
    line-height: 1.44;
  }

  .home__readMore {
    font-size: 1.8em;
    display: inline-block;
  }

  .main__about {
    padding-bottom: 21px;
  }

  .main__services {
    padding: 37px 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main__card {
    width: 100%;
    position: relative;
    justify-content: flex-end;
  }

  .main__card__title {
    position: absolute;
    top: 23px;
    left: 6.09%;
    margin: 0;
    font-weight: 900;
    font-size: 2.4em;
  }

  .main__card__image {
    margin-bottom: 0;
    display: flex;
  }

  .home__readMore {
    display: none;
  }

  .footer {
    padding: 33px 7.18%;
  }

  .footer__inner {
    padding: 5px 10px;
  }

  .footer__item__link {
    max-width: 20%;
  }

  .footer__item__link.smallOne {
    max-width: 15%;
  }
}
